html{
  font-family: Arial, sans-serif;
  scrollbar-width: none;
}
body {
    
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                        url('./assets/lib_bg.jpg') no-repeat center center/cover;
    background-size: cover; /* Covers the whole page */
    /* background-position: center; Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }
  
  /* form {
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
  } */
  
  input, button {
    margin: 5px 0;
    padding: 10px;
  }
  
  .profile {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .profile img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
  }
  
  .profile form {
    display: flex;
    flex-direction: column;
  }
  
  .profile label {
    margin-top: 10px;
  }
  